

.form{
    border: 2px solid ;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    margin-top: 10px;
}